body {
    background-color: black;
    font-family: "Verdana", sans-serif;
    color: white;
    margin: auto;
    text-align: center;
}

header {
    margin-bottom: 3%;
}

label {
    font-size: 1.2em;
}

hr {
    width: 35%;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    margin: 1%;
}

a:visited {
    color: blue;
}