body {
    background-color: black;
    font-family: "Palanquin", sans-serif;
    color: white;
    margin: auto;
    text-align: center;
}

header {
    margin-bottom: 2%;
    margin-top: 1%;
}

label {
    font-size: 1.2em;
}

hr {
    width: 15%;
}

a {
    color: blue;
    font-weight: 700;
    text-decoration: none;
    margin: 1%;
    font-size: 1.1em;
}

a:visited {
    color: blue;
}